<input id="currentUser" type="hidden" value="<%= current_user.account.id %>">
<div id="app">


  <!-- Amount available -->
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5000" aria-valuemin="0" aria-valuemax="6000" v-bind:style="{width: pmPercentage}">
        <span class="sr-only">{{pmPercentage}} Complete (success)</span>
    </div>
  </div>
  <div class="pocket-money, top-card, card">
      <div class="card-block">
        <h1> 
          Pocket Money: {{ pocketMoney | money }}
  <!--         <span class="counter">5,454</span>
   -->      </h1>
      </div>
      <div>
        <h3>
          Current Balance: {{currentBalance | money}}
        </h3>
      </div>
  </div>

  <div class="pocket-money, top-card, card">
    <div class="card-block">

      <h2>Actions</h2>

    <!-- Add an expense -->
<div class="row">
  <div class="col-md-6">
    
      <button v-on:click="unHideExpenseForm()" class="btn btn-default btn-raised">Add Expense</button>

      <div v-if="hideExpenseForm">
        <div class="form-container">  
          <form id="contact" data-remote="true">
            <h3>Spend Some Money? Get Some Money?</h3>
            <h4>Add your activity below</h4>
            <fieldset>
              <input type="text" v-model="newExpAmount" name="amount" placeholder="Amount" tabindex="1" required autofocus>
            </fieldset>
            <fieldset v-if="tags.length !== 0">Tag (optional):
              <select v-model="tagID" >
                  <option v-for="tag in tags" v-bind:value="tag.id">{{tag.description}}</option>
              </select>
              <button type="button" class="btn btn-default btn-raised" data-toggle="modal" data-target="#myModal3" v-on:click="newTag()">Create a New Tag</button>
            </fieldset>
            <fieldset>
              <div>Did you pay money or did you receive money?</div>
              <select v-model="newExpImpact" >
                <option value="out">Paid</option>
                <option value="In">Received</option>
              </select>
            </fieldset>
            <fieldset>
              <button id="contact" type="submit" v-on:click="addExpense(newExpAmount, tagID, newExpImpact)">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>

  </div>
      <!-- Update Bank Balance -->

  <div class="col-md-6">
      <button class="btn btn-default btn-raised" v-on:click="unHideAccountForm()">Update Bank Balance</button>
      <div v-if="accountUpdateForm">
        <div class="form-container">  
          <form id="contact" data-remote="true">
            <h3>Miss Some Expenses?</h3>
            <h4>Don't add them just update your current bank balance</h4>
            <fieldset>
              <input type="text" v-model="lastBalance" placeholder="Current Bank Balance" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>Do you need to calculate pocket money for more than the next 30 days?  Select a period.
                <select v-model="pocketTime" >
                  <option value="30">30 days</option>
                  <option value="60">60 days</option>
                  <option value="90">90 days</option>
                </select>
            </fieldset>
            <fieldset>
              <button id="contact" type="submit" v-on:click="updateAccount()">Update</button>
            </fieldset>
          </form>
        </div>
      </div>

  </div>
</div>
      </div>

    </div>


    <!-- expense list -->
    <div id="expense-list-background">
        <div id="expenses-list">
          <div class="card card-primary">
            
            <div class="card-header">
              <h3 class="card-title">Spending History</h3>
            </div>
     <!--        <div class="card"> -->
              <table class="table table-no-border table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Tag</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="expense in sortedExpenses">
                    <td>{{expense.date | date}} </td>
                    <td>{{expense.amount | money}} </td>
                    <td>{{expense.tag_description}} </td>
                    <td><button v-on:click="deleteExpense(expense.id, expense.amount)">delete</button></td>
                  </tr>
                </tbody>
              </table>
  <!--           </div> -->
             
          </div>
        </div>
    </div>
          

<!-- pop-ups -->


        


<div class="modal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog modal-sm animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel3">Add Tag</h3>
            </div>
            <div class="modal-body">
             <p>Tag Name:</p><input type="text" v-model=newTagDescription>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="addNewTag(newTagDescription)">Add</button>

            </div>
        </div>
    </div>
</div>

  </div>
</div>
