<div class="pocket-money, top-card, card">
      <div class="card-block">
Your list of tags:
<% @tags.each do |tag| %>
  <div>
    <%= tag.description %>
    <%= link_to "delete tag", "/tags/#{tag.id}", method: :delete %>
  </div>
<% end %>
</div>
</div>