// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #009688;
}


.alert-text {
  color: black;
}


.pocket-money {
  margin: auto;
  width: 35%;
  text-align: center;
  border: 3px solid black;
  padding: 100px;
  h1 {
    font-color: blue;
  }
}



#expenses-list {
  width: 100%;
  // margin: auto;
  padding: 30px;
  // background-color: ;
}

#expense-list-background {
  background: #FEFEFE;
  width: 100%;
}
  .progress, .card {
    margin: auto;
    width: 70%;
    text-align: center;
    .progress-bar-success {
      background-color: #B1DEDA;
    }
  }

  .card {
    margin-bottom: 40px;
    height: 50%;
    padding-bottom: 25px;
    .expandable-form {
      // display: flex;
      // flex-direction: column;
      // min-height: 10vh;
    }
  }

.alert-error {
  background: rgba(238,61,33,0.25);
  opacity: 0.5;
}