
<% @expenses.each do |expense| %>
<div>
  <div>Date: <%= expense.date.strftime("%m/%d/%Y") %> </div>
  <div>Amount: <%= expense.amount %> </div>
  <% if expense.tag  %>
    <div>Tag: <%= expense.tag.description %></div>
  <% end %>
</div>
<br>
<% end %>